<% content_for :breadcrumbs do %>
    <li class="breadcrumb-item active">
      Motoristas
    </li>
<% end %>
<div class="text left">
  <%= link_to "Novo",new_driver_path, :class=>"btn btn-primary" %>
</div>
<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Email</th>
                <th>Telefone</th>
                <th colspan="3">Ações</th>
          </tr>
        </thead>

        <tbody>
          <%= content_tag_for(:tr, @drivers) do |driver| %>
                <td><%= driver.name %></td>
                <td><%= driver.cpf %></td>
                <td><%= driver.email %></td>
                <td><%= driver.telephone %></td>
                <td><%= link_to 'Ver', driver %></td>
            <td><%= link_to 'Editar', edit_driver_path(driver) %></td>
            <td><%= button_to 'Deletar', driver, method: :delete, data: { confirm: 'Tem certeza?' }, class:"btn btn-danger btn-sm" %></td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
