<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @driver.name %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @driver.cpf %>
</p>

<p>
  <strong>Email:</strong>
  <%= @driver.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @driver.telephone %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
