<%= form_for(onibus) do |f| %>
  <% if onibus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(onibus.errors.count, "error") %> prohibited this onibus from being saved:</h2>

      <ul>
      <% onibus.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :placa %>
    <%= f.text_field :placa %>
  </div>

  <div class="field">
    <%= f.label :modelo %>
    <%= f.text_field :modelo %>
  </div>

  <div class="field">
    <%= f.label :nAcentos %>
    <%= f.number_field :nAcentos %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
