<p id="notice"><%= notice %></p>

<h1>Onibuses</h1>

<table>
  <thead>
    <tr>
      <th>Placa</th>
      <th>Modelo</th>
      <th>Nacentos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @onibuses.each do |onibus| %>
      <tr>
        <td><%= onibus.placa %></td>
        <td><%= onibus.modelo %></td>
        <td><%= onibus.nAcentos %></td>
        <td><%= link_to 'Show', onibus %></td>
        <td><%= link_to 'Edit', edit_onibus_path(onibus) %></td>
        <td><%= link_to 'Destroy', onibus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Onibus', new_onibus_path %>
