<p id="notice"><%= notice %></p>

<p>
  <strong>Placa:</strong>
  <%= @onibus.placa %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @onibus.modelo %>
</p>

<p>
  <strong>Número de Acentos:</strong>
  <%= @onibus.nAcentos %>
</p>

<%= link_to 'Edit', edit_onibus_path(@onibus) %> |
<%= link_to 'Back', onibuses_path %>
