<%= form_for(motoristum) do |f| %>
  <% if motoristum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(motoristum.errors.count, "error") %> prohibited this motoristum from being saved:</h2>

      <ul>
      <% motoristum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :cpf %>
    <%= f.text_field :cpf %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :telefone %>
    <%= f.text_field :telefone %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
