<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @motoristum.nome %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @motoristum.cpf %>
</p>

<p>
  <strong>Email:</strong>
  <%= @motoristum.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @motoristum.telefone %>
</p>

<%= link_to 'Edit', edit_motoristum_path(@motoristum) %> |
<%= link_to 'Back', motorista_path %>
