<!--<div class="mainw3-agileinfo form">
	<div class="contact-w3lsleft">
		<div class="contact-grid agileits">-->
			<%= form_for(employee) do |f| %>
        <% if employee.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

            <ul>
            <% employee.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
				<div class="form-group">
					<%= f.text_field :name, class: 'form-control', placeholder: "Nome", required: true %>
				</div>
				<div class="form-group">
				<%= f.password_field :password, class: 'form-control', placeholder: "Senha", required: true %>
				</div>
				<div class="form-group">
        <%= f.text_field :cpf, class: 'form-control', placeholder: "CPF", required: true %>
				</div>
				<div class="form-group">
        <%= f.text_field :email, class: 'form-control', placeholder: "Email", required: true %>
				</div>
				<div class="form-group">
        <%= f.text_field :telephone, class: 'form-control', placeholder: "Telefone", required: true %>
				</div>
				<div class="form-group">
				<%= f.submit class:'form-control btn btn-primary' %>
				</div>

			<% end %>
		<!--</div>
	</div>
</div>-->
