<p id="notice"><%= notice %></p>
<div class="list">
  <h3>Funcionários</h3>
  <% @employees.each do |employee| %>
    <div class="item">
      <div class="text left">
        <h4><%= employee.name %></h4>
        <p><%= employee.email %></p>
        <p><%= employee.telephone %></p>
        <!--<a href="#" class="more">Find out more</a> </div>-->
        <div class="cl">&nbsp;</div>
      </div>
    </div>
  <% end %>
  <div id="icons-container" class="item">
    <div class="text left">
      <%= link_to image_tag("add-user.png", class: "icon"), new_employee_path %>
    </div>
  </div>
</div>
<br>
