<% content_for :breadcrumbs do %>
    <li class="breadcrumb-item">
      <%= link_to 'Funcionários', employees_path%>
    </li>
    <li class="breadcrumb-item active">
      Visualizar
    </li>
<% end %>
<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @employee.name %></dd>

  <dt>Email:</dt>
  <dd><%= @employee.email %></dd>

  <dt>Telefone:</dt>
  <dd><%= @employee.telephone %></dd>

  <dt>CPF:</dt>
  <dd><%= @employee.cpf %></dd>
  <%= link_to edit_employee_path(@employee), class: 'btn btn-primary' do %>
    Editar
  <% end %>
</dl>
